.headerContainer {
  display: flex;
  flex-direction: column;
  width: 240px;
  .headerItem {
    cursor: pointer;
    padding-bottom: 32px;
    padding-top: 12px;
  }
}
.distance {
  padding-top: 48px;
}
