.paper {
  padding: 24px;
  flex-direction: column;
}
.header {
  flex-direction: row;
  width: 100%;
}
.picture {
  display: flex;
  justify-content: space-between;
}
.text {
  display: flex;
  width: 60%;
  font-size: 12px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.li {
  display: flex;
  margin: 8px;
  font-size: 16px;
  margin-bottom: 12px;
}
.pic {
  display: flex;
  width: 50%;
  width: 48px;
  height: 48px;
}
.Connect {
  display: flex;
  font-size: 16px;
  margin: 8px;
}
.some {
  color: red;
}
.Home {
  display: flex;
  max-width: 1248px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px auto;
}

.title {
  font-size: 24px;
  margin-bottom: 2rem;
  padding-top: 3.75rem;
}
.Getting {
  display: flex;
  border-radius: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  margin-left: 24px;
  justify-content: space-between;
}
.text-big {
  display: flex;
  width: 100%;
  font-size: 24px;
}
.dismiss {
  margin-right: 0.5rem;
  font-size: 14px;
}
.box {
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.Getting-started {
  flex-direction: column;
  border-radius: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 24px;
  margin-bottom: 12px;
}
.number {
  width: 40px;
  height: 40px;
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
  border-style: solid;
  border-width: 1px;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 1px;
}
.under {
  padding-left: 24px;
  display: flex;
  align-items: center;
}
.content {
  font-size: 16px;
  padding-left: 24px;
  padding-bottom: 16px;
}
.box-group {
  display: flex;
  margin-bottom: 12px;
  margin-right: 24px;
  border-radius: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  margin-left: 24px;
}
.item {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 1.5rem;
  margin: 8px;
  padding-bottom: 24px;
  padding-top: 16px;
  background-color: rgb(247 245 244 / var(--tw-bg-opacity));
}
.text-item {
  justify-content: space-between;
  align-items: center;
  margin: 12px;
  padding-bottom: 24px;
  padding-left: 12px;
}
.ingredient {
  padding-left: 24px;
  font-size: 14px;
}
.font-big {
  font-size: 24px;
  padding-left: 24px;
}
.final {
  margin-left: 24px;
  margin-bottom: 16px;
}
.join {
  font-size: 16px;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: rgb(61 61 61 / var(--tw-border-opacity));
  border-style: solid;
  border-width: 1px;
  border-radius: 0.75rem;
  -webkit-appearance: button;
  background-color: transparent;
}
.muiten {
  width: 16px;
  height: 16px;
  padding-top: 4px;
  padding-left: 3px;
}
.arrow {
  padding-top: 2px;
  width: 16px;
  height: 16px;
}
.paper-right {
  flex-direction: column;
  width: 33.33333333%;
}
.paper-left {
  flex-direction: column;
  width: 100%;
  padding-right: 0.75rem;
}
.wrap {
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
  border-radius: 1.5rem;
  min-height: calc(100vh - 88px);
  --tw-bg-opacity: 1;
  background-color: rgb(247 245 244 / var(--tw-bg-opacity));
}
.box-assets {
  flex-direction: column;
  border-radius: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 24px;
  margin-bottom: 12px;
}
.assets {
  display: flex;
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  justify-content: space-between;
}
.control {
  flex-direction: column;
}
.one {
  display: flex;
}
.two {
  font-size: 12px;
}
.stop {
  max-width: 1248px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px auto;
}
